.cont {
    width: 100%;
    padding: 50px;
    margin-top: 10rem;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 30%;

    .main-text {
 
      
    
    h1 {
        color: white;
        font-size: 60px;
        font-weight: bolder;
    }

    }



    .timer-div {
        width: 100%;
        padding: 50px;
        text-align: center;
        margin-top: 50px;
        color: white;
        font-size: 40px;

        h1 {
            font-size: 40px;
        }
    }


}

@media only screen and (max-width: 500px) {
    .cont {

    
.main-text {
    h1 {
        font-size: 40px;
    }
   

  
} 
h1 {
    font-size: 20px;
}
    }  
  }